h1= title
p Welcome to #{title}

p Here is a huge image (830kb)
  br/
  | jammed into a height=200
  br/
  |&lt;img&gt; tag:
img(src='images/pipelining.jpg', height=200)

p And another image (956kb)
  br/
  | Also jammed into a small
  br/
  |  &lt;img&gt; tag:
img(src='images/tube.jpg', height=200)
